[build]
  command = "npm run build"
  publish = "dist"

[functions]
  # Impede que o esbuild tente processar o lightningcss, que causa o erro de deploy
  external_node_modules = ["lightningcss"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
